/* ===============================
   MOBILE NAVBAR FIX
================================ */


@media(max-width:768px){


.navbar{

    width:95%;

    padding:15px 18px;

    border-radius:25px;

    flex-wrap:wrap;

}



.logo{

    font-size:20px;

}



.nav-buttons{

    display:flex;

    gap:5px;

}



.nav-buttons a{

    padding:8px 12px;

    font-size:11px;

    white-space:nowrap;

}



.menu-icon{

    display:block;

}



.nav-links{


    order:3;

    width:100%;


    display:none;


    flex-direction:column;


    background:rgba(0,0,0,.9);


    margin-top:15px;


    padding:20px;


    border-radius:20px;


}



.nav-links.active{


    display:flex;


}



.nav-links a{


    padding:12px;


    text-align:center;


}



}
